body {
    background-color: #e0d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

p:last-child {
  color: #ffffff;
  background-color: #f54a2c;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px 8px;
  box-shadow: 10px 10px 5px rgb(73, 58, 58);
  border: 1px rgba(0, 0, 0, 0.315) solid
}
p:first-child {
  font-size: 40px;
  text-align: right;
  
}

p:nth-child(2){
  border: 0.2px solid black;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px 8px;
  box-shadow: 10px 10px 5px rgb(73, 58, 58);

}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background-color: #f33b3bf1;
    display: inline-block;
border-radius: 8px 8px;
 width: 450px;
 text-align: center;
 box-shadow: 10px 10px 10px rgb(73, 58, 58);
 border: 1px rgba(0, 0, 0, 0.315) solid;
}

  .site-header {
    font-family: "oblique", serif;
    justify-items: center;
    
  }

#p-Contents{
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   font-size: 23px;
   width: 1200px;
   height: 1800px;

}




.Content {
height: 400px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    border: 3px solid rgba(163, 161, 161, 0.932);
    margin: 10px;
    padding: 25px;
    border-radius: 30px;
    box-shadow:rgba(0, 0, 0, 0.644);
    width: 350px;
    min-height: 800px;
    text-align: left;
    transition:  0.3s ;
    justify-content: space-around;
    box-shadow: 10px 10px 5px rgb(73, 58, 58);
}

.Content:hover{
  background: linear-gradient(135deg, #ffffff, #ffffffaf);
  box-shadow: -15px 7px 40px rgb(255, 255, 255);
  transform: translate3d(0, 0, 0);
  margin-left: 2%;
  
}

#Content-card{
  justify-content: space-between;
  
}

.info{
  margin-left: 16%;
font-size: 20px;
float: left

}

.left-bar {
  border-left: 4px solid #f54a2c;
  padding-left: 10px;
  margin-left: 5px;
  
}

h4{
  font-size: 9px;
  text-align: left;
}

